.site-footer {
    background: #000000;
    padding: 1.125em;
    text-align: center;
}

.site-footer,
.site-footer a {
    color: #ffffff;
    text-decoration: none;
}

.site-info {
    font-size: 0.875em;
    line-height: 1.5em;
}