@media screen and ( min-width: 1024px ) {
	.site-content {
		margin: 1.125rem;
		max-width: 1024px;
	}
}

@media screen and ( min-width: 1170px ) {
	.site-content {
		margin: 1.125rem auto;
		max-width: 1170px;
	}
}